<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>

<p>My homeland is <%= @homeland %></p>

<p>Countries I've visited:</p>
<ul>
  <% @countries.each do |country| %>
    <li><%= country %></li>
  <% end %>
</ul>

<% @family.each do |relation, name| %>
  <%= "#{name} is my #{relation}." %><br>
<% end %>
<hr>
<%= "My name is #{@username}" %>
<hr>
<p>My shoe size is <%= @shoesize %></p>
<% if @shoesize.to_i >= 11 %>
  No it aint
<% else %>
  You got them tiny feet
<% end %>