<h1>Prestige Worldwide Travel</h1>
<p><%= @welcome %></p>

<% if @referral %>
  <p>You came from the <%= @referral %> page!</p>
<% end %>

<hr>


<p>Variables to make the page change</p>
<ul>
  <li>welcome</li>
  <li>background</li>
  <li>nightmode</li>
</ul>

<div id="footer">
  <%= link_to "Red", '?background=%23FFAAAA'%>
  <%= link_to "Green", '?background=%23AAFFAA'%>
  <%= link_to "Blue", '?background=%23AAAAFF'%>
  <%= link_to "White", '?background=%23FFFFFF'%>
</div>
<hr>

Session <%= session[:background] %><br>
Param   <%= params[:background] %><br>
instance <%= @background %>