<p id="notice"><%= notice %></p>

<h1>Listing Destinations in Panels</h1>
<%= link_to 'All', destinations_path %>
<%= link_to 'US', '?country=US' %>
<%= link_to 'France', '?country=France' %>
<%= link_to 'Russia', '?country=Russia' %>

  <div class="row">
    <% @destinations.each do |destination| %>
      <div class="col-md-4 col-sm-6">
       <div class="panel panel-default">
        <div class="panel-body">
         <h2><%= link_to destination.city, destination %></h2>
         <p><%= destination.country %></p>
         <p><%= destination.description %></p>
       
         <div class="btn-group">
          
          <%= link_to 'Edit', edit_destination_path(destination), class: "btn btn-default" %>
          <!-- link below is a destory that prompts a confirm. method is GET unless overridden -->
          <%= link_to 'Destroy', destination, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default" %>
         </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<br>

<%= link_to 'New Destination', new_destination_path %>

