<!DOCTYPE html>
<html>
<head>
  <title>Travel</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
<style>

  body{
    background: <%= @background %>;
  }

  #footer{
    margin:0px auto;
    position:absolute;
    bottom: 10px;
  }

  <% if @nightmode == "true" %>
    body{
      background: #333;
      color: white; 
    }
    a{
      color: white;
    }
  <% end %>

</style>
</html>
